button {
  display: block;
  margin: 15px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: antiquewhite;
}

#showWarm {
  background-color: hsl(240, 100%, 70%);
}

#showWarm:hover {
  background-color: hsl(240, 100%, 80%);
}

#showCold {
  background-color: hsl(7, 100%, 60%);
}

#showCold:hover {
  background-color: hsl(7, 100%, 70%);
}

#divWarm {
  color: hsl(240, 100%, 50%);
  margin-left: 15px;
}

#divCold {
  color: hsl(7, 100%, 60%);
  margin-left: 15px;
}
